@model WebDevProje.Models.AnabilimDali

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnabilimDali</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yonetici)
        </dt>
        <dd class = "col-sm-10">
			@{
				// show yonetici full name
				var yonetici = Model.Yonetici;
                var yoneticiFullName = yonetici.Ad + " " + yonetici.Soyad;
                @Html.DisplayFor(model => yoneticiFullName)
			}
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KurulusTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KurulusTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AktiflikDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AktiflikDurumu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
