@model IEnumerable<WebDevProje.Models.Randevu>

@{
    ViewData["Title"] = "Randevular";
}

<h1>Randevular</h1>

<p>
    <a asp-action="GetRandevu">@_localization.Getkey("Randevu Al")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doktor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poliklinik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @{
					//show the name of the doctor
					var doktor = item.Doktor;
					var doktorFullName = doktor.Kisi.Ad + " " + doktor.Kisi.Soyad;
					@Html.DisplayFor(model => doktorFullName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poliklinik.Ad)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
