@model WebDevProje.Models.Kisi

@{
    ViewData["Title"] = "Delete";
    
}
<h1>Delete</h1>
@{
    //show model state errors
if (!ViewData.ModelState.IsValid)
	{
		<div class="alert alert-danger" role="alert">
			@foreach (var modelState in ViewData.ModelState.Values)
			{
				foreach (var error in modelState.Errors)
				{
					@Html.Raw(error.ErrorMessage);
				}
			}
		</div>
	}
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kisi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcKimlikNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcKimlikNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doktor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doktor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hemsire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hemsire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yonetici)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yonetici)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sifre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.adminMi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.adminMi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
