@model WebDevProje.Models.Kisi

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <h4>Kisi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcKimlikNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcKimlikNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doktor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doktor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hemsire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hemsire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yonetici)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yonetici)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adminMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adminMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sifre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
