@model WebDevProje.Models.Kisi

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <h4>Kisi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @{
                string cinsiyet;
                switch (Model.Cinsiyet)
                {
                    case 'E':
                        cinsiyet = "Erkek";
                        break;

                    case 'K':
                        cinsiyet = "Kadın";
                        break;

                    default:
                        cinsiyet = "Belirtilmemiş";
                        break;
                }
                @Html.DisplayFor(model => cinsiyet)
            }

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @{

				DateTime dt = Model.DogumTarihi;
				string date = dt.ToString("dd/MM/yyyy");
            }
            @Html.DisplayFor(model => date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcKimlikNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcKimlikNo)
        </dd>
        @{
            if (Model.Doktor == true)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Doktor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Doktor)
                </dd>
            }
        }
        @{
            if (Model.Hasta == true)
			{
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Hasta)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Hasta)
				</dd>
			}
        }
        @{
            if (Model.Hemsire == true)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Hemsire)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Hemsire)
                </dd>
            }
        }
        @{
            if (Model.Isci == true)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Isci)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Isci)
                </dd>
            }
        }
        @{
            if (Model.Yonetici == true)
            {
                <dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Yonetici)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.Yonetici)
				</dd>
            }
        }
        @{
            if (Model.adminMi == true)
			{
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.adminMi)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.adminMi)
				</dd>
			}
        }
    </dl>
</div>
<div>
    <a asp-action="Logout">@_localization.Getkey("Çıkış Yap")</a>
</div>
